In [18]:
import os
import numpy as np
import pandas as pd

In [34]:
SURVEY_DIR = "../data/survey"
SURVEY_FILE = "../data/survey/survey_responses.csv"
N_QUESTIONS = 48

In [35]:
df = pd.read_csv(SURVEY_FILE)
n_respondant = len(df.index)

In [36]:
## Extract scores
scores = pd.Series(np.zeros(n_respondant))
for i in range(1, N_QUESTIONS + 1):
    i = str(i)
    scores += (df['Q' + i] == df['K' + i]).astype(int)
df['Score'] = scores
df['Score norm'] = scores / N_QUESTIONS
df

,Timestamp,Score,Score norm,Age,Gender,Work status,Education,AI relation,Q1,C1,...,K39,K40,K41,K42,K43,K44,K45,K46,K47,K48
0,26/02/2020 15:13:59,37.0,0.770833,25-34 years old,Male,Studying,Bachelor’s degree,5,Human,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
1,26/02/2020 15:28:00,35.0,0.729167,18-24 years old,Female,Employed,Bachelor’s degree,5,Human,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
2,26/02/2020 15:29:54,32.0,0.666667,18-24 years old,Male,Studying,Bachelor’s degree,5,AI,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
3,26/02/2020 15:52:28,45.0,0.937500,18-24 years old,Female,Studying,Bachelor’s degree,4,Human,Very confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
4,26/02/2020 15:59:38,47.0,0.979167,18-24 years old,Male,Studying,High school,5,Human,Very confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,28/02/2020 11:56:03,32.0,0.666667,18-24 years old,Male,Studying,College degree,3,Human,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
157,28/02/2020 12:15:50,26.0,0.541667,18-24 years old,Female,Studying,College degree,2,AI,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
158,28/02/2020 12:17:52,29.0,0.604167,18-24 years old,Female,Studying,No schooling completed,2,AI,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
159,28/02/2020 12:28:29,45.0,0.937500,25-34 years old,Male,Studying,Master’s degree,5,Human,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human
160,28/02/2020 12:55:38,45.0,0.937500,25-34 years old,Male,Studying,Master’s degree,5,Human,Somewhat confident,...,Human,AI,Human,AI,AI,Human,Human,AI,Human,Human

In [56]:
## AI relation
groups = df.groupby('AI relation')
for key, item in groups:
    print('AI relation:', key)
    scores = groups.get_group(key)['Score']
    score_norms = groups.get_group(key)['Score norm']
#     print(score_norms, "\n\n")
    print('# of respondants:', len(scores))
    print('Score mean: {:.4f}'.format(scores.mean()))
    print('Score norms mean: {:.4f}'.format(score_norms.mean()))
    print()

AI relation: 1
# of respondants: 10
Score mean: 32.8000
Score norms mean: 0.6833

AI relation: 2
# of respondants: 14
Score mean: 33.7143
Score norms mean: 0.7024

AI relation: 3
# of respondants: 45
Score mean: 34.9556
Score norms mean: 0.7282

AI relation: 4
# of respondants: 37
Score mean: 35.2432
Score norms mean: 0.7342

AI relation: 5
# of respondants: 55
Score mean: 37.6182
Score norms mean: 0.7837

In [58]:
## Education
groups = df.groupby('Education')
for key, item in groups:
    print('Education:', key)
    scores = groups.get_group(key)['Score']
    score_norms = groups.get_group(key)['Score norm']
#     print(score_norms, "\n")
    print('# of respondants:', len(scores))
    print('Score mean: {:.4f}'.format(scores.mean()))
    print('Score norms mean: {:.4f}'.format(score_norms.mean()))
    print()

Education: Associate degree
# of respondants: 1
Score mean: 38.0000
Score norms mean: 0.7917

Education: Bachelor’s degree
# of respondants: 63
Score mean: 35.0952
Score norms mean: 0.7312

Education: College degree
# of respondants: 23
Score mean: 34.6087
Score norms mean: 0.7210

Education: Doctorate degree
# of respondants: 12
Score mean: 35.9167
Score norms mean: 0.7483

Education: Elementary school
# of respondants: 1
Score mean: 28.0000
Score norms mean: 0.5833

Education: High school
# of respondants: 20
Score mean: 36.1000
Score norms mean: 0.7521

Education: Master’s degree
# of respondants: 39
Score mean: 37.5641
Score norms mean: 0.7826

Education: No schooling completed
# of respondants: 1
Score mean: 29.0000
Score norms mean: 0.6042

Education: Trade/technical/vocational training
# of respondants: 1
Score mean: 26.0000
Score norms mean: 0.5417

In [59]:
## Gender
groups = df.groupby('Gender')
for key, item in groups:
    print('Gender:', key)
    scores = groups.get_group(key)['Score']
    score_norms = groups.get_group(key)['Score norm']
#     print(score_norms, "\n")
    print('# of respondants:', len(scores))
    print('Score mean: {:.4f}'.format(scores.mean()))
    print('Score norms mean: {:.4f}'.format(score_norms.mean()))
    print()

Gender: Female
# of respondants: 61
Score mean: 34.9344
Score norms mean: 0.7278

Gender: Male
# of respondants: 95
Score mean: 36.1895
Score norms mean: 0.7539

Gender: Non-binary/third gender
# of respondants: 3
Score mean: 35.3333
Score norms mean: 0.7361

Gender: Prefer not to say
# of respondants: 2
Score mean: 35.5000
Score norms mean: 0.7396

In [60]:
## Work status
groups = df.groupby('Work status')
for key, item in groups:
    print('Gender:', key)
    scores = groups.get_group(key)['Score']
    score_norms = groups.get_group(key)['Score norm']
#     print(score_norms, "\n")
    print('# of respondants:', len(scores))
    print('Score mean: {:.4f}'.format(scores.mean()))
    print('Score norms mean: {:.4f}'.format(score_norms.mean()))
    print()

Gender: Employed
# of respondants: 66
Score mean: 36.1212
Score norms mean: 0.7525

Gender: Interning
# of respondants: 2
Score mean: 30.0000
Score norms mean: 0.6250

Gender: Other
# of respondants: 6
Score mean: 32.1667
Score norms mean: 0.6701

Gender: Part-time
# of respondants: 5
Score mean: 35.0000
Score norms mean: 0.7292

Gender: Self-employed/Freelance
# of respondants: 5
Score mean: 32.8000
Score norms mean: 0.6833

Gender: Studying
# of respondants: 76
Score mean: 35.9737
Score norms mean: 0.7495

Gender: Unemployed
# of respondants: 1
Score mean: 36.0000
Score norms mean: 0.7500

In [87]:
## Question analysis
df_questions = pd.DataFrame(columns=['Question', 'Correct sum', 'Correct sum rate'])
for i in range(1, N_QUESTIONS + 1):
    _i = str(i)
    question_scores = (df['Q' + _i] == df['K' + _i]).astype(int)
#     question_scores = ((df['Q' + _i] == df['K' + _i]) & (df['C' + _i] == 'Very confident')).astype(int)
    correct_sum = question_scores.sum()
    df_questions.loc[i] = [_i, correct_sum, correct_sum / n_respondant]
# df_questions
df_questions.sort_values(['Correct sum'])

   Question Correct sum  Correct sum rate
11       11          38          0.236025
28       28          69          0.428571
8         8          70          0.434783
3         3          71          0.440994
1         1          79          0.490683
12       12          83          0.515528
48       48          92          0.571429
14       14          94          0.583851
26       26          98          0.608696
16       16          99          0.614907
39       39         111          0.689441
7         7         116          0.720497
6         6         116          0.720497
4         4         116          0.720497
5         5         116          0.720497
47       47         118          0.732919
15       15         119          0.739130
45       45         119          0.739130
31       31         119          0.739130
30       30         119          0.739130
19       19         122          0.757764
17       17         123          0.763975
27       27         125          0.776398
21       21         126          0.782609
33       33         127          0.788820
9         9         127          0.788820
20       20         129          0.801242
42       42         130          0.807453
22       22         131          0.813665
29       29         131          0.813665
23       23         131          0.813665
32       32         132          0.819876
13       13         132          0.819876
24       24         134          0.832298
35       35         137          0.850932
41       41         138          0.857143
18       18         138          0.857143
43       43         138          0.857143
44       44         138          0.857143
36       36         141          0.875776
10       10         141          0.875776
46       46         142          0.881988
2         2         142          0.881988
34       34         143          0.888199
37       37         144          0.894410
25       25         144          0.894410
38       38         148          0.919255
40       40         150          0.931677